h3{
    text-align: center;
    
    color:rgb(247, 246, 246);
    height: 300px;
    font-size: 60px;
    background-image: url('../Sajek_Valley_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
    margin-top: 0%;
font-family:Georgia, 'Times New Roman', Times, serif;

 
  
    
  
   
    
    
    
}
#sajek{
    text-align: center;
    font-size: 30px;
    font-style: italic;
    text-decoration:underline
}
div{
    background-color:lightblue;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    padding: 50px 20px 50px 20px;
    border-radius: 20px;
    border: 50px solid yellow;
    
    
}
.lorem{
    font-size: 20px;
    width: 90%;
    margin-left: 10%;
    
    
    
    


    
}
a{
    text-decoration: none;
    color: chocolate;
}
span{
    color: wheat;
    /* font-style: italic; */
    text-align: center;
    font-size: 30px;
    
}